/* STEP 1: Configure an element to be animated */
#animated-shape {
    background: pink;
    width: 200px;
    height: 200px;
    /* sub-properties to attach an animation */
    animation-name: colorchange-alt;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* STEP 2: Define the animation sequence */
@keyframes colorchange {
    from { background: pink; }
    to { background: darkred; }

}
@keyframes colorchange-alt {
    0% { background: pink; }
    50% { background: darkred; }
    100% { background: pink; }
}







.box {
    background: lightcyan;
    padding: 20px;
    margin: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
}

/* The TRANSFORM property uses functional values like f(x)
to change an element */

#rotate {
    transform: rotate(-10deg);
}

#scale {
    transform: scale(0.5);
}

#skew {
    transform: skew(-20deg);
}

/* translate(x) moves element right (if x is positive)
   translate(x,y) moves diagonally
   translate(0,y) moves element vertically only
*/
#translate {
    transform: translate( 0px, -40px);
}

#chain {
    transform: translate(100px) scale(1.4) rotate(60deg);
}

/* STEP 1: Attach animation usuing a shortcut property
combining name, duration, iterations, timing function
*/
#animated-emoji {
    animation: move-emoji 5s infinite ease-in-out;
    display: inline-block;
    font-size: 50px;
    position: absolute;
    top: 100px;
    left: 80px;
}
/* STEP 2: Define an animation sequence */
@keyframes move-emoji {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg) scale(1.5);
        opacity: 0;
    }
    100% {
        transform: rotate(360deg);
    }

}